<form class="form-horizontal" (ngSubmit)="onSubmit(form)" [formGroup]="form" >

<div class="form-group">
  <label class="control-label col-sm-2" for="name">Name</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" id="name"
    formControlName="Name" placeholder="Name *"/>
  </div>
</div>
<div class="form-group" >
  <label class="control-label col-sm-2">FullName</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" formControlName="FullName"/>
  </div>
</div>
<div class="form-group" >
  <label class="control-label col-sm-2">TelephoneNumber</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" formControlName="TelephoneNumber"/>
  </div>
</div>
<div class="form-group" >
  <label class="control-label col-sm-2">EmailAddress</label>
  <div class="col-sm-2">
    <input type="email" class="form-control" formControlName="EmailAddress"/>
  </div>

  <!-- TODO: Add dropdown with contries -->
  <label class="control-label col-sm-2">Country</label>
  <div class="col-sm-2">
    <select type="text" class="form-control" formControlName="Country">
      <option value={{country}} *ngFor="let country of countriesList">
        {{country}}
      </option>
    </select>
  </div>

  <label class="control-label col-sm-2">City</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" formControlName="City"/>
  </div>

  <label class="control-label col-sm-2">Street</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" formControlName="Street"/>
  </div>

  <label class="control-label col-sm-2">PostalCode</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" formControlName="PostalCode"/>
  </div>

  <label class="control-label col-sm-2">StreetNumber</label>
  <div class="col-sm-2">
    <input type="number" class="form-control" formControlName="StreetNumber"/>
  </div>

</div>

<button type="submit" (click)="addRelationClick(form)" *ngIf="relation.Id == null" class="btn btn-primary" [disabled]="!form.valid" data-dismiss="modal">Add new relation</button>

<button type="submit" (click)="updateRelationClick(form)" *ngIf="relation.Id!= null" class="btn btn-primary" [disabled]="!form.valid" data-dismiss="modal">Update relation</button>
</form>
