<form class="form-horizontal" (ngSubmit)="onSubmit(form)" [formGroup]="form">

  <div class="form-group row">
    <label class="mr-sm-2 mb-0 sr-only">Name *</label>
    <div class="col-sm-auto">
      <input type="text" class="form-control" formControlName="Name" placeholder="Name" />
    </div>
    <label class="mr-sm-2 mb-0 sr-only">FullName</label>
    <div class="col-sm-auto">
      <input type="text" class="form-control" formControlName="FullName" placeholder="FullName" />
    </div>
  </div>
  <div class="form-group row">
    <label class="mr-sm-2 mb-0 sr-only">TelephoneNumber</label>
    <div class="col-sm-auto">
      <input type="text" class="form-control" formControlName="TelephoneNumber" placeholder="TelephoneNumber" />
    </div>
    <label class="mr-sm-2 mb-0 sr-only">EmailAddress</label>
    <div class="col-sm-auto">
      <input type="email" class="form-control" formControlName="EmailAddress" placeholder="EmailAddress" />
    </div>
  </div>
  <div class="form-group row">
    <!-- TODO: Add dropdown with contries -->
    <label class="mr-sm-2 mb-0 sr-only">Country</label>
    <div class="col-sm-auto">
      <select type="text" class="form-control" formControlName="Country">
        <option value={{country}} *ngFor="let country of countriesList">
          {{country}}
        </option>
      </select>
    </div>

    <label class="mr-sm-2 mb-0 sr-only">City</label>
    <div class="col-sm-auto">
      <input type="text" class="form-control" formControlName="City" placeholder="City" />
    </div>
  </div>
  <div class="form-group row">
    <label class="mr-sm-2 mb-0 sr-only">Street</label>
    <div class="col-sm-auto">
      <input type="text" class="form-control" formControlName="Street" placeholder="Street" />
    </div>

    <label class="mr-sm-2 mb-0 sr-only">PostalCode</label>
    <div class="col-sm-auto">
      <input type="text" class="form-control" formControlName="PostalCode" placeholder="PostalCode" />
    </div>

    <label class="mr-sm-2 mb-0 sr-only">StreetNumber</label>
    <div class="col-sm-auto">
      <input type="number" class="form-control" formControlName="StreetNumber" placeholder="StreetNumber" />
    </div>
  </div>

  <button type="submit" (click)="addRelationClick(form)" *ngIf="relation.Id == null" class="btn btn-primary"
    [disabled]="!form.valid" data-dismiss="modal">Add new relation</button>

  <button type="submit" (click)="updateRelationClick(form)" *ngIf="relation.Id!= null" class="btn btn-primary"
    [disabled]="!form.valid" data-dismiss="modal">Update relation</button>
</form>