<form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit(form.value)>

<div class="form-group" *ngIf="relation.Id!= null">
  <label class="control-label col-sm-2" *ngIf="relation.Id!= null">Id</label>
  <div class="col-sm-2" *ngIf="relation.Id!= null">
    <input type="text" readonly class="form-control" [(ngModel)]="Id" />
  </div>
</div>
<div class="form-group">
  <label class="control-label col-sm-2" for="name">Name</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" id="name" [(ngModel)]="Name"
    formControlName="name" placeholder="First name *"/>
  </div>
</div>
<div class="form-group" >
  <label class="control-label col-sm-2">FullName</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="FullName" />
  </div>
</div>
<div class="form-group" >
  <label class="control-label col-sm-2">TelephoneNumber</label>
  <div class="col-sm-2">
    <input type="tel" class="form-control" [(ngModel)]="TelephoneNumber" />
  </div>
</div>
<div class="form-group" >
  <label class="control-label col-sm-2">EmailAddress</label>
  <div class="col-sm-2">
    <input type="email" class="form-control" formControlName="email" id="email" [(ngModel)]="EmailAddress" />
  </div>

  <!-- TODO: Add dropdown with contries -->
  <label class="control-label col-sm-2">Country</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="Country" />
  </div>

  <label class="control-label col-sm-2">City</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="City" />
  </div>

  <label class="control-label col-sm-2">Street</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="Street" />
  </div>

  <label class="control-label col-sm-2">PostalCode</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="PostalCode" />
  </div>

  <label class="control-label col-sm-2">StreetNumber</label>
  <div class="col-sm-2">
    <input type="number" class="form-control" [(ngModel)]="StreetNumber" />
  </div>

</div>

<button type="submit" (click)="addRelation()" *ngIf="relation.Id == null" class="btn btn-primary" [disabled]="!form.valid" data-dismiss="modal">Add new relation</button>

<button type="submit" (click)="updateRelation()" *ngIf="relation.Id!= null" class="btn btn-primary" [disabled]="!form.valid" data-dismiss="modal">Update relation</button>
</form>
