<h1>Relaitons list</h1>
<input type="button" value="Add new" class="btn btn-default" (click)="addRelation()" />
<table class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>FullName</td>
            <td>TelephoneNumber</td>
            <td>EmailAddress</td>
            <td>Country</td>
            <td>City</td>
            <td>Street</td>
            <td>PostalCode</td>
            <td>StreetNumber</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let relation of relations">
            <ng-template [ngTemplateOutlet]="loadTemplate(relation)" 
                        [ngTemplateOutletContext]="{ $implicit: relation}">
            </ng-template>
        </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>
    
    
<ng-template #readOnlyTemplate let-relation>
    <td>{{relation.Name}}</td>
    <td>{{relation.FullName}}</td>
    <td>{{relation.TelephoneNumber}}</td>
    <td>{{relation.EmailAddress}}</td>
    <td>{{relation.DefaultCountry}}</td>
    <td>{{relation.DefaultCity}}</td>
    <td>{{relation.DefaultStreet}}</td>
    <td>{{relation.DefaultPostalCode}}</td>
    <td>{{relation.StreetNumber}}</td>
    <td>
        <input type="button" value="Edit" class="btn btn-default" (click)="editRelation(relation)" />
    </td>
    <td>
        <input type="button" value="Delete" (click)="deleteRelation(relation)" class="btn btn-danger" />
    </td>
</ng-template>
   

<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedRelation.Name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedRelation.FullName" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedRelation.TelephoneNumber" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedRelation.EmailAddress" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedRelation.DefaultCountry" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedRelation.DefaultStreet" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedRelation.DefaultPostalCode" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedRelation.StreetNumber" class="form-control" />
    </td>
    <td>
        <input type="button" value="Save" (click)="saveRelation()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>