<div class="form-froup row">
  <label class="col-sm-2 col-form-label">Name</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="Name"  />
  </div>

  <label class="col-sm-2 col-form-label">FullName</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="FullName"  />
  </div>

  <label class="col-sm-2 col-form-label">TelephoneNumber</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="TelephoneNumber"  />
  </div>

  <label class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="Email"  />
  </div>

  <label class="col-sm-2 col-form-label">Country</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="Country"  />
  </div>

  <label class="col-sm-2 col-form-label">City</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="City"  />
  </div>

  <label class="col-sm-2 col-form-label">Street</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="Street"  />
  </div>

  <label class="col-sm-2 col-form-label">PostalCode</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="PostalCode"  />
  </div>

  <label class="col-sm-2 col-form-label">StreetNumber</label>
  <div class="col-sm-2">
    <input type="text" class="form-control" [(ngModel)]="StreetNumber"  />
  </div>

</div>

<button (click)="addRelation()" *ngIf="relation.Name ==''" class="btn btn-primary">Add new relation</button>

<button (click)="updateRelation()" *ngIf="relation.Name!=''" class="btn btn-primary">Update relation</button>
